<%- include("partials/header")%>

<link rel="stylesheet" href="/stylesheets/editform.css">

<div class="editformpg">

    <form action="/editdata/<%= edit._id%>" method="post">
<h1>Update Your Expenses</h1>

<h4>Expense Name:</h4>
<input type="text" name="Expensename" value="<%= edit.Expensename%>">
<h4>Amount:</h4>
<input type="number" name="amount" value="<%= edit.amount%>">
<h4>Date:</h4>
<input type="datetime" name="date" value="<%= edit.date%>">
<h4>Month:</h4>
<input type="text" name="month" value="<%= edit.month%>">
<h4>Category:</h4>
<input type="text" name="category" value="<%= edit.category%>">

<button> CONFIRM EDIT</button>
    </form>
</div>

<%- include("partials/footer")%>
