<%- include("partials/header")%>
<link rel="stylesheet" href="/stylesheets/profile.css">

<div class="infobox">
    <div class="btnbox">
        <a href="/changepassword" class="changebtn">Change Password</a> <br> <br>
        <a href="/updateuser/<%= user._id%>">update Account</a> <br> <br>
        <a href="/deleteuser/<%= user._id%>">DeleteAccount</a> <br>
       </div>
        
    <div class="settingbtn"><i class="ri-settings-2-line"></i></div>


    <img src="/uploads/<%= user.userimage%>" alt=""> <br>
   <span class="nametag">Name:</span>  <span><%= user.username%></span>
   <span class="emailtag">Email:</span>  <span><%= user.email%></span> <br> <br>
   <span class="gendertag">Gender:</span>  <span><%= user.gender%></span> 
   <span class="numbertag">Contact:</span>  <span><%= user.number%></span> <br> <br>
   <span class="addresstag">Address:</span>  <span><%= user.address%></span> <br> <br>
   <span class="locationtag">Location:</span>  <span><%= user.location%></span> <br> <br>
   <a  class="logoutbtn" href="/login">Logout Account</a> <br> <br>

   
    
</div>
<script src="/javascripts/profile.js"></script>

<%- include("partials/footer")%>



    
    