<%- include("partials/header")%>
<link rel="stylesheet" href="/stylesheets/profile.css">

<div class="infobox">
    <img src="/uploads/<%= user.userimage%>" alt="">
   <span class="nametag">Name:</span>  <span><%= user.username%></span> <br> <br>
   <span class="emailtag">Email:</span>  <span><%= user.email%></span> <br> <br>
   <span class="gendertag">Gender:</span>  <span><%= user.gender%></span> <br> <br>
   <span class="numbertag">Contact:</span>  <span><%= user.number%></span> <br> <br>
   <span class="addresstag">Address:</span>  <span><%= user.address%></span> <br> <br>
   <span class="locationtag">Location:</span>  <span><%= user.location%></span> <br> <br>

    <a href="/login">logout</a> <br> <br>
    <a href="/changepassword" class="changebtn">Change Password</a> <br> <br>
    <a href="/update">update Account</a> <br> <br>
    <a href="/deleteuser/<%= user._id%>">DeleteAccount</a> <br>
    
</div>


<%- include("partials/footer")%>



    
    