<%- include("partials/header")%>
<!-- <%#- include("partials/nav2")%> -->

 <img src="/uploads/<%= user.userimage%>" alt="">
<%= user.username%> <br><br>
<%= user.email%> <br><br>
<a href="/login">logout</a> <br> <br>
<a href="/changepassword" class="changebtn">Change Password</a> <br> <br>
<a href="/update">update Account</a> <br> <br>
<a href="/deleteuser/<%= admin._id%>">DeleteAccount</a> <br>


<%- include("partials/footer")%>


<!--# // router.get('/deleteuser/:id', isLoggedIn,  async function (req, res, next) {
  
    //   try {
    //      const del = await Data.findByIdAndDelete(req.params.id)
    //      const allexp = expensedata.find((u)=>
    //      u.user == del._id
    //      )
    //       req. user.expensedata.findByIdAndDelete(allexp)
    //       await req.user. save()
    //       res.redirect("/login", {admin: req.user, allexp})
    //   } catch (error) {
    //     res.send(error)
    //   }
    // });
     -->
    